@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --background: #ecf0ff;
    --foreground: #04050a;
    --border: #ddd;
    --muted: #e2e6f7;
    --secondary: #bbb;
}

@theme inline {
    --default-font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-border: var(--border);
    --color-muted: var(--muted);
    --color-secondary: var(--secondary);
}

.dark {
    --background: #04050a;
    --foreground: #ecf0ff;
    --border: #252525;
    --muted: #111;
    --secondary: #555;
}
